<h2 mat-dialog-title>{{ data.id ? 'Edit Todo' : 'Add Todo' }}</h2>
<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Title" [(ngModel)]="data.title">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" [(ngModel)]="data.description"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="saveTodo()" mat-dialog-close cdkFocusInitial>{{ data.id ? 'Update' : 'Add' }}</button>
</mat-dialog-actions>