.not-found-container {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 10rem;
    margin-bottom: 10px;
    color: #f44336; /* Red color */
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #007bff; /* Blue color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  