.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .full-width {
    width: 100%;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  mat-card {
    max-width: 400px;
    width: 100%;
  }

  .mat-mdc-card-header {
    padding: 15px 20px;
}